@model IEnumerable<MyBlog.Models.Comment>
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>



    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.Post.Id">Create New</a>
    </p>

<h2>Comments</h2>
<h5>Post: </h5>


<div class="ui  cards">

    @foreach (var item in Model)
    {
       
   
        <div class="comment card">
          
            <div class="content ">
                <a class="avatar">User Id: @Html.DisplayFor(modelItem => item.ApplicationUserId)</a>
                <div class="metadata">
                    <div class="date">Date:  @Html.DisplayFor(modelItem => item.PublishDate)</div>
                
                    <div class="author">
                        Time:    @Html.DisplayFor(modelItem => item.PublishTime)
                        
                      

                    </div>
                    <br />
                    <div class="metadata">
                        <b>Post Content: @Html.DisplayFor(modelItem => item.Post.Content)</b>
                    </div>
                </div>
                <div class="comment"> Content:
                    @Html.DisplayFor(modelItem => item.Content)
                </div>
                <div class="actions">
                    <a class="reply" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="save" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="hide" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   
                </div>
            </div>
        </div>
    }
</div>

